:root{
    --brand-color-pink : #F67ACB;
    --gray-color-50: #E6EBF2;
    --gray-color-100: #050110;
    --gray-color-200: #1C1D1F;
    --gray-color-300: #393C40;
    --gray-color-400: #5C6066;
    --gray-color-800: #F7F8FA;
    --white-color-text: rgba(255, 255, 255, 0.7);
    --white: #FFFFFF;
}